.simple {
  color: ##492056;
  font-size: 24px;
  font-style: oblique;
  font-family: cursive;
}

.end {
  color: #25415b;
  font-size: 24;
  font-family: cursive;

}

.flashy {
  color: red;
  font-style: italic;
}
